<div class="row signin">
	<h3 class="col-md-12 text-center title">Log in to Venue<hr></h3>	
	<div id="signImg" class="col-xs-offset-2 col-xs-6 col-md-offset-2 col-md-4">
		<img src="../style/images/signin.jpg">
	</div>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-1 col-md-3">
    <form name="userForm" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="username" placeholder="Username" lowercase required>
          <div ng-hide="username" role="alert">
            <p class="help-block error-text" ng-message="required">Username is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" ng-model="password" placeholder="Password" required>
          <div ng-hide="password" role="alert">
            <p class="help-block error-text" ng-message="required">Password is required.</p>
          </div>
        </div>
        <div class="text-center form-group">
          <a href="#/"><button type="submit" class="btn btn-primary">Sign in</button></a>
          &nbsp; or&nbsp;
          <a href="#/signup">Sign up</a>
        </div>
        <div class="text-center forgot-password">
          <a ui-sref="password.forgot">Forgot your password?</a>
        </div>
      </fieldset>
    </form>
    </div>
 </div>
