@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	font-family: "calibri", Garamond, "Comic Sans";
	font-size: 16px;
}
/* CSS Document */
.navbar-nav > li > a {
	padding-top:5px !important; 
	padding-bottom:5px !important;
}
.navbar {
	min-height:25px !important;
}

.tbtm{ 
	height: 100px;
	text-align:center;
	vertical-align: bottom;
}

.logo {
	left:10px;
	display:inline-block;
	background:url("../style/images/logo.png");
	background-repeat:no-repeat;
	width:140px;
	height:110px;
	cursor:pointer;
}

.padding-hdr {
	padding-top: 30px !important;
}

/* for index home list */
.div-hd {
	padding-top: 10px;
	border-top: 2px #0b73da solid;
}
.div-bd {
	padding-bottom: 10px;
	border-left: 1px #cdcdcd solid;
	border-right: 1px #cdcdcd solid;
	border-bottom: 1px #cdcdcd solid;
}
.div-booking-img {
	padding: 5px 10px;
}
.spt {
	width: 120px;
	padding: 5px 20px;
}
.spt-list a { 
	display: inline-block; 
	padding: 5px 10px;
}

/* for index home list */
.div-home-list {
	padding: 10px 0px;
	border-left: 1px #cdcdcd solid;
	border-right: 1px #cdcdcd solid;
	border-bottom: 1px #cdcdcd solid;
}
.img-home-list {
	width: 100%;
	height: 100%;
	max-width: 175px;
	max-height: 116px;
}
.price-lg {
	font-size: 180%;
	color: #0973da;
}
.price-gray {
	color: #898989;
}
.iconDesign {
	color: #0b73da;
	font-size: 16px;
}
.div-list-pagenation {
	padding: 5px;
	text-align:center;
}

/* right side div*/
.div-right-hd {
	padding: 0 10px; 
}

footer {
	border-top: 1px #cdcdcd solid;
	padding-top: 5px;
}
.dev-ft {
	border-left: 1px #cdcdcd dashed;
	padding-left: 20px;
	height: 100px;
}
.link-ft {
	display: block;
	padding-top: 5px;
}
.tc{ 
	text-align:center;
}
.tr{
	text-align:right;
}
